#container {
  padding: 0 20px;
  margin: 0 20px;
  text-align: justify;
}
#paragraph-section {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 40px;
  text-align: justify;
}

#question-section {
  text-align: justify;
  height: 100vh;
  overflow: auto;
}

.mat-tab-groups {
  position: fixed;
  left: 0;
  top: 1;
  margin: 0 auto;
  text-align: center;
  z-index: 90;
  width: 100%;
  overflow-y: auto;
  max-height: 100vh;
}

#submit-button {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 9000;
}
.options-list {
  width: 20%;
}
.heading-title {
  text-align: center;
}
.edit-question-icon {
  cursor: pointer;
}
