<div class="jumbotron">
    <div class="inner-container">
        <br>
        <br>
        <br>
        <h1 class="display-4">Welcome to Nine Miles IELTS</h1>
        <p><img src="../../assets/ninemiles.png" class="ninemiles"></p>
        <p class="lead">Your next step to international opportunity</p>
        <hr class="my-4">
        <p>Take our mock test and ready to Achieve Desired Bands, Be Our Next Success Story!</p>

        <button mat-raised-button (click)="authService.GoogleAuth()"><img src="../../assets/search.png"> Sign In with
            google</button>

    </div>

</div>