<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'over'"
    [opened]="!(isHandset$ | async) ? 'false':'false' ">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <!-- <a routerLink="/dashboard" mat-list-item>Dashboard</a>

      <span *ngIf="userType!='Admin' && userType!='Teacher'">
        <a routerLink="/marks-sheet" mat-list-item>Marks Sheet</a>
      </span>
      <span *ngIf="nav.visible">
        <span *ngIf="userType=='Admin'">
          <a routerLink="/admin-panel" mat-list-item>Admin Panel</a>
        </span>
        <span *ngIf="userType=='Teacher'">
          <a routerLink="/teacher" mat-list-item>Teacher</a>
        </span>

      </span> -->


      <span class="profile">
        <button mat-raised-button style="width: 100%" (click)="authService.SignOut()">Logout</button>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <span *ngIf="nav.test">

      <mat-toolbar color="primary">
        <span *ngIf="email">
          <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button> -->
        </span>
        <span routerLink="/" style="cursor: pointer">Nine Miles</span>
        <span style="flex:1 1 auto;"></span>

        <div class="buttons" *ngIf="email">
          <span [matMenuTriggerFor]="menu" class="navigate"><img src="../../../../assets/logout.png"
              class="icon"></span>
          <mat-menu #menu="matMenu">
            <span mat-menu-item disabled>{{email}}</span>
            <span mat-menu-item (click)="authService.SignOut()">Logout</span>
          </mat-menu>
        </div>
      </mat-toolbar>
    </span>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>