<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <table class="table" *ngIf="StudentDetails.length">

        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Test Number</td>
          <td>Sheet Number</td>
          <td>Marks Scored</td>
          <td>Question</td>
          <td>User Type</td>
          <td>Test Paper</td>
          <td>Paper checked</td>
        </tr>
        <tr *ngFor="let list of StudentDetails">
          <td>{{list.studentName}}</td>
          <td>{{list.studentEmail}}</td>
          <td>{{list.testNumber}}</td>
          <td>{{list.sheetNumber}}</td>
          <td>{{list.marksScored}}</td>
          <td>
            <button mat-raised-button (click)="showQuestion(list.question)">Q</button>
          </td>
          <td>{{list.userType}}</td>
          <td style="text-align: center;"><img [src]="list.onlineAnswer" style="width:200px;height:300px;">
            <br>
            <br>
            <a href="{{list.onlineAnswer}}" target="_blank"><button mat-raised-button>Download</button></a>
          </td>
          <td style="text-align: center;" *ngIf="list.answerIsChecked==false"><img src="../../assets/wrong.png"><br>Not
            Checked</td>
          <td style="text-align: center;" *ngIf="list.answerIsChecked==true"><img
              src="../../assets/checked.png"><br>Checked</td>
        </tr>

      </table>

      <div style="text-align: center;" *ngIf="!StudentDetails.length">
        <br>
        <p class="alert alert-danger"> No results found</p>
      </div>
    </div>
  </div>
</div>