<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="inside-container">
        <p>
          Read the instructions carefully
        </p>
        <!-- <p> -->
        <ul>
          <li>Maximum time given for the test is 60 minutes</li>
          <li>Once attempted you cannot re-attempt the exam</li>
          <li>Make sure you have a good internet connection</li>
          <li>Don't refresh the page or else you wont be able to attend the test again</li>
        </ul>
        <!-- </p> -->

      </div>
      <div class="submit-button">
        <button mat-raised-button color="primary" (click)="continueToSection()">START TEST</button>
      </div>

    </div>
  </div>
</div>