<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <br>
            <h3>
                <span *ngIf="!editObject">
                    Add
                </span>
                <span *ngIf="editObject">
                    Edit
                </span>
                Left Question Module</h3>
            <form class="form" [formGroup]="AddParagraph" autocomplete="off" novalidate #AddParagraphForm="ngForm"
                (ngSubmit)="onSubmitParagraph(AddParagraph)">
                <mat-form-field id="mat-form-field">
                    <mat-label>Add Heading OR (Paste Audio Link for Listening Section)</mat-label>
                    <input matInput name="paragraphHeading" formControlName="paragraphHeading"
                        [(ngModel)]="paragraphHeading">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select Section</mat-label>
                    <mat-select formControlName="section" name="section" ngModel>
                        <mat-option *ngFor="let list of section" [value]="list">{{list}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!AddParagraph.get('section').valid && AddParagraph.get('section').touched">
                        *required</mat-error>
                </mat-form-field>&nbsp;
                <mat-form-field>
                    <mat-label>Select Test Number</mat-label>
                    <mat-select required formControlName="testDetails" name="testDetails" ngModel>
                        <mat-option *ngFor="let list of listOfTests" [value]="list">
                            <span *ngIf="list.testPricingStatus==false">
                                {{list.testNumber}} (free)
                            </span>
                            <span *ngIf="list.testPricingStatus==true">
                                {{list.testNumber}} (paid)
                            </span>
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="!AddParagraph.get('testDetails').valid && AddParagraph.get('testDetails').touched">
                        *required</mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select required formControlName="paragraphSectionCategory" name="paragraphSectionCategory"
                        ngModel>
                        <mat-option *ngFor="let list of getSectionCategory" [value]="list">{{list}}</mat-option>
                    </mat-select>

                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Select Student Category</mat-label>
                    <mat-select formControlName="paragraphUserType" name="paragraphUserType" ngModel>
                        <mat-option *ngFor="let list of paragraphUserType" [value]="list">{{list}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="!AddParagraph.get('paragraphUserType').valid && AddParagraph.get('paragraphUserType').touched">
                        *required</mat-error>
                </mat-form-field>
                <p>Note:
                    1) Paste the <b>LINK</b> of audio in the heading input field for listening category
                </p>


                <br>
                <quill-editor formControlName="paragraphTitle" required name="paragraphTitle"
                    [(ngModel)]="paragraphTitle">
                </quill-editor>
                <mat-error
                    *ngIf="!AddParagraph.get('paragraphTitle').valid && AddParagraph.get('paragraphTitle').touched">
                    *paragraph is required
                </mat-error>
                <br>
                <span *ngIf="!editObject">
                    <button [disabled]="!AddParagraph.valid" type="submit" mat-raised-button>Submit paragraph</button>
                </span>
                <span *ngIf="editObject">
                    <button type="submit" mat-raised-button>Update paragraph</button>

                    <span class="delete-icon" (click)="deleteParagraph()" mat-raised-button>
                        <i class="material-icons">
                            delete
                        </i>
                    </span>
                </span>
            </form>
        </div>


        <div class="col-sm-12" *ngIf="editObject">
            <div class="table-responsive">

                <table class="table">

                    <tr class="table-primary">
                        <td>Section</td>
                        <td>Test Number</td>
                        <td>Student Category</td>
                    </tr>
                    <tr>
                        <td>{{editObject.section}}</td>
                        <td>{{editObject.testNumber}}</td>
                        <td>{{editObject.paragraphUserType}}</td>
                    </tr>


                </table>
            </div>
        </div>




    </div>


</div>

<br>
<br>
<br>
<br>