<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <a routerLink='/admin-panel'>
                <img class="icon" src="../../../assets/left-arrow.png">
            </a>
            <br>
            <br>

            <h3>
                <span *ngIf="editObject">
                    Edit
                </span>
                <span *ngIf="!editObject">
                    Add
                </span>
                MCQ Type Question</h3>
            <form class="form" [formGroup]="AddQuestion" autocomplete="off" novalidate #AddQuestionForm="ngForm"
                (ngSubmit)="onSubmitQuestion(AddQuestion)">


                <mat-form-field>
                    <mat-label>Add Question Number</mat-label>
                    <input matInput name="questionNumber" type="number" min="1" formControlName="questionNumber"
                        required [(ngModel)]="questionNumber">
                </mat-form-field>

                <quill-editor formControlName="questionTitle" required name="questionTitle" [(ngModel)]="questionTitle">
                </quill-editor>
                <mat-error *ngIf="!AddQuestion.get('questionTitle').valid && AddQuestion.get('questionTitle').touched">
                    *Question is required
                </mat-error>
                <br>
                <h5>Add Options</h5>
                <span formArrayName="options" *ngFor="let other of formData.controls; let i = index">
                    <span [formGroupName]="i">
                        &nbsp; <mat-form-field>
                            <textarea matInput name="option" formControlName="option" ngModel
                                placeholder="Enter Option"></textarea>
                        </mat-form-field>&nbsp;
                        <mat-checkbox formControlName="optionStatus" name="optionStatus" ngModel>
                        </mat-checkbox>
                    </span>
                    <!-- <mat-error *ngIf="!AddQuestion.get('options').valid && AddQuestion.get('options').touched">
                        *required</mat-error> -->
                </span>
                <br>
                <span class="btn btn-outline-primary btn-sm" (click)="addButtonClick()">Add</span>&nbsp;
                <span class="btn btn-outline-danger btn-sm" (click)="removeButtonClick()">Remove</span>
                <br>
                <br>

                <mat-form-field>
                    <mat-label>Select Section</mat-label>
                    <mat-select formControlName="section" name="section" ngModel>
                        <mat-option *ngFor="let list of section" [value]="list">{{list}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!AddQuestion.get('section').valid && AddQuestion.get('section').touched">
                        *required</mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Select Section Category</mat-label>
                    <mat-select formControlName="sectionCategory" name="sectionCategory" ngModel>
                        <mat-option *ngFor="let list of sectionCategory" [value]="list">{{list}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="!AddQuestion.get('sectionCategory').valid && AddQuestion.get('sectionCategory').touched">
                        *required</mat-error>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Select Student Category</mat-label>
                    <mat-select formControlName="questionUserType" name="questionUserType" ngModel>
                        <mat-option *ngFor="let list of questionUserType" [value]="list">{{list}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="!AddQuestion.get('questionUserType').valid && AddQuestion.get('questionUserType').touched">
                        *required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Select Test Number</mat-label>
                    <mat-select formControlName="testNumber" name="testNumber" ngModel>
                        <mat-option *ngFor="let list of listOfTests" [value]="list.testNumber">
                            <span *ngIf="list.testPricingStatus==false">
                                {{list.testNumber}} (free)
                            </span>
                            <span *ngIf="list.testPricingStatus==true">
                                {{list.testNumber}} (paid)
                            </span>
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="!AddQuestion.get('testNumber').valid && AddQuestion.get('testNumber').touched">
                        *required</mat-error>
                </mat-form-field>

                <br>
                <span *ngIf="!editObject">
                    <button [disabled]="!AddQuestion.valid" type="submit" mat-raised-button>Submit Question</button>
                </span>
                <span *ngIf="editObject">
                    <button type="submit" mat-raised-button>Update Question</button>
                    <span class="delete-icon" (click)="deleteQuestion(list)">

                        <i class="material-icons">
                            delete
                        </i>
                    </span>
                </span>
            </form>


        </div>

        <div class="col-sm-12">
            <br>
            <mat-divider></mat-divider>
            <br>
            <div *ngIf="editObject">
                <p>Note: Choose only those fields which you want to edit</p>
                <div class="table-responsive">
                    <div class="table">
                        <tr class="table-primary">
                            <td>questionType</td>
                            <td>Options</td>
                            <td>questionUserType</td>
                            <td>section</td>
                            <td>sectionCategory</td>
                            <td>testNumber</td>
                        </tr>
                        <tr>
                            <td>
                                <span *ngFor="let list of editObject.options">
                                    Option:- <b>{{list.option}}</b> |
                                    Correct Answer:- <b>{{list.optionStatus}}</b>
                                    <br>
                                </span>
                            </td>
                            <td>{{editObject.questionType}}</td>
                            <td>{{editObject.questionUserType}}</td>
                            <td>{{editObject.section}}</td>
                            <td>{{editObject.sectionCategory}}</td>
                            <td>{{editObject.testNumber}}</td>
                        </tr>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>