.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: white;
    color: black;
}

.delete-icon{
    float: right;
    cursor: pointer;
}