<div class="container">
    <div class="row">
     <div class="col-sm-12">
       <h4>Tests</h4>
       <div>
         <mat-card>
           <span>
             Test 1 (Free)
             <button id="float-item" class="btn btn-outline-primary btn-sm">Take Test</button>
           </span>
 
         </mat-card>
         <br>
         <mat-card>
           <span>Test 2 (Free)</span>
           <button id="float-item" class="btn btn-outline-primary btn-sm">Take Test</button>
 
         </mat-card>
         <br>
       </div>
       <div *ngFor="let list of countOfTests">
         <mat-card *ngIf="paymentStatus==false">
           Test {{list}} (Premium)
           <span id="float-item">
             <img src="../../assets/lock.svg" class="icon">
           </span>
         </mat-card>
         <mat-card *ngIf="paymentStatus==true">
           Test {{list}}
           <span id="float-item">
             <img src="../../assets/lock.svg" class="icon">
           </span>
         </mat-card>
         <br>
       </div>
 
 
     </div>
   </div>
 </div>