<div class="container">
  <div class="row">
    <div class="inside-container" *ngIf="paymentStatus!='Failed'">
      <br>
      <h3>Your payment is successful</h3>
      <img class="image" src="../../assets/big_tick.png">
      <br>
      <br>
      <a routerLink="/">Dashboard</a>

    </div>
    <div class="inside-container" *ngIf="paymentStatus=='Failed'">
      <br>
      <h3>Oops!! your payment failed</h3>
      <img class="image" src="../../assets/big_error.png">
      <br>
      <br>
      <a routerLink="/">Dashboard</a>

    </div>
  </div>
</div>