<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'over'"
    [opened]="!(isHandset$ | async) ? 'false':'false' ">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
      <span class="profile">
        <button>Logout</button>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>NineMiles</span>
      <span style="flex:1 1 auto;"></span>
      <div class="buttons">
        <span [matMenuTriggerFor]="menu" class="navigate">More</span>
        <mat-menu #menu="matMenu">
          <span mat-menu-item disabled>ashishume@gmail.com</span>
          <span mat-menu-item (click)="authService.SignOut()">Logout</span>
        </mat-menu>

      </div>
    </mat-toolbar>

    <router-outlet></router-outlet> <!-- ALL THE CONTENTS HERE -->

  </mat-sidenav-content>
</mat-sidenav-container>


<app-loader></app-loader>