<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngFor="let list of testDetails">
      <h4>Please choose the sections (Admin Panel)</h4>
      <mat-card id="mat-card" class="mat-card" (click)="handlingListening()">
        <img src="../../assets/headphone.svg" class="icon">
        Listening
        <span id="float-item">
          <img src="../../assets/arrow.svg" class="icon">
        </span>
      </mat-card>

      <mat-card id="mat-card" class="mat-card" (click)="handlingWriting()">
        <img src="../../assets/writing.svg" class="icon">
        Writing
        <span id="float-item">
          <img src="../../assets/arrow.svg" class="icon">
        </span>
      </mat-card>

      <mat-card id="mat-card" class="mat-card" (click)="handlingReading()">
        <img src="../../assets/reading.svg" class="icon">
        Reading
        <span id="float-item">
          <img src="../../assets/arrow.svg" class="icon">
        </span>
      </mat-card>

      <mat-card id="mat-card" class="mat-card" (click)="handlingSpeaking()">
        <img src="../../assets/speaking.svg" class="icon">
        Speaking
        <span id="float-item">
          <img src="../../assets/arrow.svg" class="icon">
        </span>
      </mat-card>


    </div>
  </div>
</div>