.profile {
  text-align: center;
}
#matCard {
  margin: 0 auto;
  text-align: center;
}
.name {
  font-size: 20px;
  font-weight: 600;
}

.email {
  font-size: 15px;
}

.test {
  font-size: 15px;
}

.mat-raised-button{
  background-color: green;
  border-radius: 20px;
}