.heading {
    text-align: center;
  }
  .reading-paragraph {
    text-align: justify;
    max-height:  100vh;
    overflow: auto;
    padding: 20px;
  }
  .questions-section {
    padding-left: 10px;
    overflow: auto;
    max-height:  100vh;
  
  }
  .vertical {
    border-right: solid 1px gray;
  }
  #container{
      padding: 0 15px;
  }
  .heading-title{
    text-align: center;
  }