#bottom-tab {
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
  color: white;
  background-color: #2a4c66;
  left: 0;
  margin: 0 auto;
}

.section1,
.section2,
.section3 {
  border: solid 1px lightgray;
  padding: 10px;
  cursor: pointer;
}
