<div id="bottom-tab">
  <span class="section1" [ngStyle]="focusedSection1" (click)="showSection1()">Section 1</span>
  <span class="section2" [ngStyle]="focusedSection2" (click)="showSection2()">Section 2</span>
  <span class="section3" [ngStyle]="focusedSection3" (click)="showSection3()">Section 3</span>
</div>


<div class="container">
  <div class="row">

    <div class="section1-content"   *ngIf="section1">
      Section 1
    </div>
    <div class="section2-content" *ngIf="section2">
      Section 2
    </div>
    <div class="section3-content" *ngIf="section3">
      Section 3
    </div>


  </div>
</div>