/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "@angular/material/prebuilt-themes/deeppurple-amber.css"; */

@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.material-icons{
  cursor: pointer;
}
#float-item {
  float: right;
}
#mat-card:hover {
  background-color: lightgray;
  cursor: pointer;
}

#paragraph-section {
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 40px;
  text-align: justify;
  /* max-width: 50vw; */
}

#question-section {
  text-align: justify;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 50px;
  padding-bottom: 15px;
  max-width: 50vw;
}
.mat-tab-groups {
  position: fixed;
  left: 0;
  top: 1;
  margin: 0 auto;
  text-align: center;
  z-index: 90;
  width: 100%;
  overflow-y: auto;
  /* height: 80vw; */
}

#submit-button {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 9000;
}

#timer {
  position: fixed;
  top: 10px;
  right: 100px;
  z-index: 9000;
  background-color: lightblue;
  padding: 0 15px;
  font-size: 20px;
}
