/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: 'Lexend Deca', sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb{
    background: #888; 
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  .icon{
    width: 20px;
    height: 20px;
}

#float-item{
    float: right;
}
#mat-card:hover{
background-color: lightgray;
cursor: pointer;
}