<div class="container">
  <div class="row">
    <div class="table-responsive">

      <h3 style="text-align: center">Admin Panel</h3>
      <table class="table table-bordered">
        <tr>
          <td>
            <a routerLink="/admin-panel/sections-admin" mat-list-item>Sections</a>
          </td>

          <td>
            <a routerLink="/admin-panel/add-questions" mat-list-item>Add MCQ Question</a>
          </td>
          <td>
            <a routerLink="/admin-panel/add-paragraph" mat-list-item>Add Paragraph</a>
          </td>
          <td>
            <a routerLink="/admin-panel/add-fill-blank-questions" mat-list-item>Add Fill Question</a>
          </td>
          <td>
            <a routerLink="/admin-panel/registered-users" mat-list-item>Registered Users</a>
          </td>
          <td>
            <a routerLink="/admin-panel/update-test-status" mat-list-item>Unlock Test</a>
          </td>
          <td>
            <a routerLink="/admin-panel/raised-issue" mat-list-item>Raised Issue</a>
          </td>
        </tr>
      </table>


    </div>
  </div>
</div>