<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <h3 class="heading">Your MarksSheet</h3>
      </div>
      <div class="table-responsive" *ngIf="marksDetails.length">

        <table class="table table-bordered">
          <tr class="table-primary">
            <td>Test Number</td>
            <td>Section</td>
            <td>Marks Scored</td>
            <td>No. of Answers correct</td>
          </tr>
          <tr class="items" *ngFor="let list of marksDetails">
            <td>
              {{list.testNumber}}
            </td>
            <td>
              {{list.section}}
            </td>
            <td>
              {{list.marksBand}}
            </td>
            <td>
              <span *ngIf="list.section!='writing' && list.section!='speaking'">
                {{list.countOfCorrectAnswers}}/40
              </span>
              <span *ngIf="list.section=='writing'">
                NA
              </span>

              <span *ngIf="list.section=='speaking'">
                NA
              </span>
            </td>
          </tr>
        </table>
      </div>

      <div style="text-align: center;" *ngIf="!marksDetails.length">
        <p class="alert alert-danger">No results found</p>
        <a routerLink="/">Go Back</a>
      </div>

    </div>
  </div>
</div>