<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <mat-tab-group class="mat-tab-groups" mat-align-tabs="center">
        <mat-tab label="Scores">
          <ng-template matTabContent>

            <div>
              <h3 class="heading">Your MarksSheet</h3>


              <mat-form-field>
                <mat-label>Select Test Number</mat-label>
                <mat-select>
                  <mat-option *ngFor="let item of countOfTests" [value]="item" (click)="showResult(item)">{{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


            </div>
            <div class="table-responsive" *ngIf="marksDetails.length">
              <table class="table table-bordered">
                <tr class="table-primary">
                  <td>Test Number</td>
                  <td>Section</td>
                  <td>Marks Scored</td>
                  <td>No. of Answers correct</td>
                </tr>
                <tr class="items" *ngFor="let list of marksDetails">
                  <td>
                    {{list.testNumber}}
                  </td>
                  <td>
                    {{list.section}}
                  </td>
                  <td>
                    {{list.marksBand}}
                  </td>
                  <td>
                    <span *ngIf="list.section!='writing' && list.section!='speaking'">
                      {{list.countOfCorrectAnswers}}/40
                    </span>
                    <span *ngIf="list.section=='writing'">
                      NA
                    </span>

                    <span *ngIf="list.section=='speaking'">
                      NA
                    </span>
                  </td>
                </tr>

              </table>



              <h3 style="margin:0 auto;">Download your test certificate</h3>

              <div class="container" id="contentToConvert"
                style="margin-top:40px;border: solid 1px black;width: 850px;">
                <div class="row">
                  <div class="col-sm-12">
                    <h1 style="font-weight: bolder">IELTS</h1>
                    <span style="float: right;border:solid 1px black;padding:5px;background-color: white;">Academic
                      Student</span>
                    <p>Test Report Form</p>
                    <div class="row">
                      <div class="col-sm-12">


                        <p style="background-color:white;padding: 5px;border: solid 1px black;">Disclaimer: This
                          mock
                          test is just
                          for
                          reference only and do not have any reference with IDP and British
                          Council IELTS results</p>

                      </div>
                    </div>

                    <div style="padding: 5px;" class="row">
                      <div class="col-sm-8">
                        <p>Candidate Details:</p>
                        <b>
                          {{name}}<br>
                          {{email}}
                        </b>
                      </div>
                      <div class="col-sm-3">
                        <img src="{{imageUrl}}" style="width: 120px;height:120px;border-radius:100px;">
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-sm-12" style="text-align:center">
                        <img src="../../assets/ninemilesLogo.png" style="height: 130px;">

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8" style="text-align:center">
                        Test Results:<br>
                        <p style="margin-top: 20px;">
                          Listening: <span class="marks">7.8</span>&nbsp;
                          Reading: <span class="marks">5.5</span>&nbsp;
                          Writing: <span class="marks">4.5</span>&nbsp;
                          Speaking: <span class="marks">8.5</span>&nbsp;
                        </p>
                      </div>
                      <div class="col-sm-4">
                        <p style="margin-top: 20px;">
                          Overall score: <span class="marks">8.5</span>
                          <br>
                          <br>
                          Mock test number: <span class="marks">1</span>
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <br>
              <br>
              <button mat-raised-button>Download certificate</button>
              <br>
              <br>
              <br>


            </div>

            <div style="text-align: center;" *ngIf="!marksDetails.length">
              <p class="alert alert-danger">No results found</p>
              <a routerLink="/">Go Back</a>
            </div>


          </ng-template>
        </mat-tab>



        <mat-tab label="Document Scores">
          <ng-template matTabContent>
            <h3>Your Uploaded answer sheet</h3>
            <mat-form-field>
              <mat-label>Select Test Number</mat-label>
              <mat-select>
                <mat-option *ngFor="let item of countOfTests" [value]="item" (click)="showDocumentScores(item)">{{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <table class="table" *ngIf="UploadMarksDetails.length">
              <tr>
                <td>Test Number</td>
                <td>Sheet Number</td>
                <td>Marks Scored</td>

                <td>Test Paper</td>
                <td>Paper checked</td>
              </tr>
              <tr *ngFor="let list of UploadMarksDetails">

                <td>{{list.testNumber}}</td>
                <td>{{list.sheetNumber}}</td>
                <td>{{list.marksScored}}</td>

                <td style="text-align: center;"><img [src]="list.onlineAnswer" style="width:200px;height:300px;">
                  <br>
                  <br>
                  <a href="{{list.onlineAnswer}}" target="_blank"><button mat-raised-button>Download</button></a>
                </td>
                <td style="text-align: center;" *ngIf="list.answerIsChecked==false"><img
                    src="../../assets/wrong.png"><br>Not
                  Checked</td>
                <td style="text-align: center;" *ngIf="list.answerIsChecked==true"><img
                    src="../../assets/checked.png"><br>Checked</td>
              </tr>

            </table>

            <div style="text-align: center;" *ngIf="!UploadMarksDetails.length">
              <br>
              <p class="alert alert-danger"> No results found</p>
            </div>

          </ng-template>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>